@import './../abstracts/a-variables', './../abstracts/a-mixins';

.main-nav {
  .nav-item {
    padding: .93rem 1.06rem;

    & > a {
      padding: 0 .125rem;
    }
    & span {
      color: $white;
      font-size: 14px;
      font-weight: 700;
      line-height: 6px;
      text-transform: uppercase;
      text-shadow: 0 0 1px transparent;
      border-bottom: 3px solid transparent;
      font-family: $font-family-open-sans;

      @include on-event {
        color: $primary;
      }
    }
  }
}