@import '../abstracts/a-mixins';

.header {
  top:0;
  left: 0;
  z-index: 1001;
  width: 100%;
  position: absolute;

  &__container {
    padding: 0.3rem;

    @include respond-below(md) {
      padding: 0.3rem .2rem;
    }
  }

  &__brand {
    padding: .7rem 0;

    @include respond-above(md) {
      margin-left: 3rem;
    }
  }

  &__collapse {
    margin: 0 3rem 0 0;
    justify-content: flex-end;
  }
}