@import './../abstracts/a-variables', './../abstracts/a-mixins';

.banner {
  &__overlay {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    background: url(./../../images/overlay_banner.png);
  }

  &__item {
    position: relative;
    height: 100vh;
  }

  &__caption {
    z-index: 3;

    @include respond-below(md) {
      bottom: 6.25rem !important;
    }
  }

  &__title {
    color: $white;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 3.6rem;
    font-size: 4.6rem;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: $font-family-oswald;

    @include respond-below(md) {
      margin-bottom: 0;
      font-size: 1.3rem;
    }
  }

  &__separator {
    margin: 1.25rem auto 2.6rem;
    display: block;
    width: 115px;
    content: " ";
    height: 24px;
    background: url(./../../images/separator_banner.png) no-repeat;

    @include respond-below(md) {
      margin-bottom: 1.3rem;
    }
  }

  &__description {
    color: $white;
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: $font-family-libre;

    @include respond-below(md) {
      font-size: .95rem;
    }
  }

  @include respond-below(md) {
    .scroll-bottom {
      display: none;
    }
  }
}