@import './../abstracts/a-variables';

.swiper {
  &-container {
    padding-bottom: 4rem;
  }

  &-pagination {
    bottom: -10%;

    &-bullet {
      width: 12px;
      height: 12px;
      background: $white;
      border: solid 1px $primary;

      &-active {
        background: $primary;
      }
    }
  }
}