@import '../../../node_modules/bootstrap/scss/functions', '../../../node_modules/bootstrap/scss/variables';

$white: #ffffff;
$primary: #c0a756;
$secondary: #887025;

$dark: #0c0901;
$body: #818181;
$dark-solid: #141313;
$dark-transparent: rgba(12,12,13,0.78);

$gray: #3D3C38;
$gray-light:#777777;

$theme-colors: (
  'dark': $dark,
  'white': $white,
  'body': $body,
  'primary': $primary,
  'secondary': $secondary,
  'dark-solid': $dark-solid,
  'dark-transparent': $dark-transparent,
);

$text-colors: (
  'dark': $dark,
  'body': $body,
  'white': $white,
  'primary': $primary,
  'secondary': $secondary,
  'dark-solid': $dark-solid,
  'dark-transparent': $dark-transparent,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$font-family-cabin: 'Cabin', sans-serif;
$font-family-vibes: 'Great Vibes', serif;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-libre: 'Libre Baskerville', serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-yellowtail: 'Yellowtail', sans-serif;