@import '../../../node_modules/bootstrap/scss/functions', '../../../node_modules/bootstrap/scss/variables';

$white: #ffffff;
$primary: #c0a756;
$secondary: #887025;

$dark: #0c0901;
$body: #818181;
$dark-solid: #141313;
$dark-transparent: rgba(12,12,13,0.78);

$gray: #3D3C38;

$theme-colors: (
  'dark': $dark,
  'white': $white,
  'body': $body,
  'primary': $primary,
  'secondary': $secondary,
  'dark-solid': $dark-solid,
  'dark-transparent': $dark-transparent,
);

$text-colors: (
  'dark': $dark,
  'body': $body,
  'white': $white,
  'primary': $primary,
  'secondary': $secondary,
  'dark-solid': $dark-solid,
  'dark-transparent': $dark-transparent,
);

$font-family-cabin: 'Cabin', sans-serif;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-libre: 'Libre Baskerville', serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-vibes: 'Great Vibes', serif;